@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 169.7%);
  font-family: Muli;
}

/* Project is being displayed */
.projectTitle {
  color: #182C61;
  font-size: 24px;
  max-width: 200px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
}

.projectTitleWrapper {
  display: flex;
  align-items: center;
}

/* Parent Container */

.projectDetailsWrapper {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 25px;
}

.currentTitle {
  color: #182C61;
  font-weight: 600;
  font-size: 18px;
  padding-left: 8px;
}

.completedTitle {
  color: #00B894;
  font-weight: 600;
  font-size: 18px;
  padding-left: 8px;
}

.taskTitle {
  color: #182C61;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-top: 8px;
  margin-left: 14px;
}

.taskCompleteBtn {
  background-color: #2ebaee;
}

.taskPriority {
  color: #2ebaee;
  font-size: 10px;
}

.taskDueDate {
  color: #182C61;
  font-size: 10px;
}

.taskDesc {
  display: flex;
  padding-top: 4px;
  opacity: 1;
  transition: 0.5s;
  font-size: 12px;
  text-overflow: ellipsis;
  padding-bottom: 5px;
  padding-right: 4px;
  margin-left: 14px;
  color: #787878;
  pointer-events: none;
}

.taskDescShow {
  display: none;
  padding-top: 4px;
  opacity: 1;
  transition: 0.5s;
  font-size: 12px;
  text-overflow: ellipsis;
  padding-bottom: 5px;
  padding-right: 4px;
  color: #787878;
  pointer-events: none;
}

.controlsWrapperNoShow{
  display: none;
  justify-content: space-around;
  margin-right: 14px;
  margin-bottom: 7px;
}

.taskMoreBtn, .taskEditBtn {
  color: white;
  border: 0;
  width: 60px;
  height: 18px;
  font-size: 10px;
  border-radius: 5px;
}

.taskMoreBtn{
  background-color: #EB4D4B;
}

.taskEditBtn{
  background-color: #182C61;
  margin-left: 10px;
}


.expandBtn {
  border: 0;
  width: 15px;
  background-color: transparent;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-angle-double-down,
.fa-angle-double-right {
  pointer-events: none;
  color: #182C61;
  font-size: 15px;
}

.fa-trash-alt {
  font-size: 18px;
  color: #182C61;
}

.fa-pencil-alt {
  font-size: 18px;
}

.currentDivList, .completedDivList{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.currentDivWrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-top: 10px;
}

.completedDivWrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-top: 10px;
}

.taskItemWrapper {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  background-color: white;
  min-height: 55px;
  border-radius: 10px;
  flex-direction: column;
  margin-top: 17px;
  filter: drop-shadow(0px 4px 9px #E6E6E6);
}

.botWrapper{
  display: flex;
  justify-content: space-between;
}

.rightIconsWrapper {
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.leftWrapper {
  padding-top: 10px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.rightWrapper{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.controlsWrapper{
  justify-content: space-around;
  margin-right: 14px;
  margin-bottom: 7px;
}

.taskPriorityWrapper {
  display: flex;
  align-items: center;
}

.topControls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 39px;
  margin-top: 8px;
  margin-right: 14px;
}

.topWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.metaWrapper {
  display: flex;
  margin-left: 14px;
  margin-bottom: 10px;
}

.taskDueDateWrapper {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.fa-check-double {
  font-size: 15px;
}

.fa-star {
  font-size: 15px;
}

.fa-clock {
  font-size: 10px;
  padding-right: 5px;
}

.fa-exclamation-circle {
  font-size: 10px;
  padding-right: 5px;
}

.fa-plus-circle {
  font-size: 70px;
  color: #2ebaee;
}

.addItemBtnWrapper {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 1;
  border: 0;
  border-radius: 35px;
}

.projectEditBtn {
  padding-left: 10px;
  border: none;
  background: none;
  width: 15px;
  height: 15px;
}

.fa-edit {
  color: #182C61;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.hamIconWrapper {
  height: 35px;
  width: 35px;
  background: transparent;
  border: 0;
}

.fa-bars {
  padding-left: 10px;
  font-size: 25px;
  color: #182C61;
}

.modalOverlay {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modalContent {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  min-width: 250px;
  min-height: 125px;
  border-radius: 10px;
}

.taskFormTitleWrapper {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}

.taskForm {
  height: 300px;
}

.taskFormTitleLbl {
  color: #182C61;
  font-weight: 600;
  font-size: 18px;
}

.taskFormDateLbl {
  color: #182C61;
  font-weight: 600;
  font-size: 18px;
}

.submitBtn {
  border: 0;
  border-radius: 5px;
  background-color: #2ebaee;
  color: white;
  font-size: 12px;
  width: 150px;
  font-weight: 800;
  height: 25px;
}

.taskFormDescLbl {
  color: #182C61;
  font-weight: 600;
  font-size: 18px;
}

.taskFormTitleIn {
  height: 30px;
  border: 1px solid #182C61;
  border-radius: 5px;
  padding-left: 5px;
}

.taskFormDescIn {
  height: 30px;
  border: 1px solid #182C61;
  border-radius: 5px;
  padding-left: 5px;
}

.taskFormDateIn {
  height: 30px;
  border: 1px solid #182C61;
  border-radius: 5px;
  padding-left: 5px;
}

.taskFormDescWrapper {
  display: flex;
  flex-direction: column;
}

.taskFormDateWrapper {
  display: flex;
  flex-direction: column;
}

.taskFormPrWrapper {
  display: flex;
  flex-direction: column;
}

.taskforPrChoiceWrapper {
  display: flex;
  flex-direction: column;
}

.submitBtn {
  margin-top: 20px;
}

/* Sidebar Modal */
.projectModalContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 4px 9px #e6e6e6;
  transition: 0.5s;
}

.projectModalCloseBtn {
  display: flex;
  margin-left: 0;
  margin-top: 2px;
  flex-direction: column;
  transition: 0.5s;
  color: #2ebaee;
  border: 0;
  background-color: transparent;
  width: 25px;
  height: 25px;
}

.fa-times-circle {
  font-size: 20px;
}

.projectModalContent {
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

.projectAddBtnWrapper {
  display: flex;
  justify-content: center;
}

.fa-folder-plus {
  color: #2ebaee;
  font-size: 50px;
}

.fa-folder {
  color: #2ebaee;
  font-size: 12px;
}

.projItemTitle {
  font-size: 15px;
  color: #182C61;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.projItemWrapper {
  display: flex;
  max-width: 192px;
  margin-left: 15px;
  align-items: center;
}

/* Modal Content = Project creation */

.projectFormSubmitBtn {
  margin-top: 10px;
  width: 100px;
}

/* Adding a new Project Selectors */

.newProjectForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.projectFormTitle {
  color: #182C61;
  font-weight: 600;
  font-size: 18px;
}

.projectFormTitleIn {
  margin-top: 10px;
  height: 30px;
  border: 1px solid #182C61;
  border-radius: 5px;
  padding-left: 5px;
}

.projectFormSubmitBtn {
  border: 0;
  border-radius: 5px;
  background-color: #182C61;
  color: white;
  font-size: 12px;
  width: 150px;
  font-weight: 800;
  height: 25px;
}

.editProjForm {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.projWrapEditIcon {
  pointer-events: none;
}

.projWrapDelIcon {
  font-size: 16px;
  pointer-events: none;
}

.emptyProjWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyProjDesc {
  text-align: center;
  color: #2ebaee;
}

.emptyProjTitle {
  text-align: center;
  color: #182C61;
  padding-bottom: 10px;
}

.projectItemEditBtn,
.projectItemDelBtn {
  border: 0;
  background-color: transparent;
}

.projectItemDelBtn {
  margin-left: 3px;
}

.deleteProjContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.deleteProjTitle {
  margin-top: 15px;
  text-align: center;
  color: #182C61;
  width: 90%;
  font-size: 20px;
  font-weight: 400;
}

.buttonsWrapper {
  margin-top: 20px;
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.yesBtn,
.noBtn {
  width: 70px;
  height: 35px;
  color: white;
  border-radius: 5px;
  border: none;
}

.yesBtn {
  background-color: #46529d;
}

.noBtn {
  background-color: #2ebaee;
}

.taskForm {
  display: flex;
  flex-direction: column;
}

.emptyTaskListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyTaskListTitle {
  text-align: center;
  color: #182C61;
  padding-bottom: 10px;
}

.emptyTaskListDesc {
  text-align: center;
  color: #2ebaee;
}

.filterContainer {
  display: flex;
  justify-content: flex-end;
  width: 95vw;
}

