@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;600;700;800;900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

body {
    background-color: white;
    font-family: Muli;
}

/* Project is being displayed */
.projectTitle{
    color: #46529D;
    font-size: 24px;
    white-space: nowrap;
}

.projectTitleWrapper{
    display: flex;
    align-items: center;
}

/* Parent Container */

.projectDetailsWrapper{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

.currentTitle{
    color: #46529D;
    font-weight: 600;
    font-size: 18px;
    padding-left: 8px;
}


.completedTitle{
    color: #46529D;
    font-weight: 600;
    font-size: 18px;
    padding-left: 8px;
}


.taskTitle{
    color: #46529D;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.taskCompleteBtn{
    background-color: #2EBAEE;

}

.taskPriority{
color: #2EBAEE;
font-size: 10px;
}

.taskDueDate{
color: #2EBAEE;
font-size: 10px
}

.taskDesc{
    visibility: hidden;
}

.taskMoreBtn{
    color: #46529D;
}

.currentDivWrapper{
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-top: 10px;
}

.completedDivWrapper{
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-top: 10px;
}

.taskItemWrapper{
    display: flex;
  justify-content:space-between;
  align-items:center;
    width: 100vw;
    height: 66px;
    border-radius: 10px;
    box-shadow: 0px 4px 9px #E6E6E6;
    flex-direction: row;
}
 
.rightIconsWrapper{
    display: inline-block;
    padding-right: 10px;
}

.leftWrapper{
padding-top: 10px;
padding-left: 15px;
display:flex;
flex-direction:column;
}

.taskPriorityWrapper{
    display: flex;
    align-items: center;
}

.metaWrapper{
    display: flex;
}

.taskDueDateWrapper{
    display: flex;
    align-items: center;
}


.fa-check-double{
    font-size: 15px;
}

.fa-star{
    font-size: 15px;
}

.fa-clock{
    width: 10px;
    height: 10px;
}

.fa-exclamation-circle{
    width: 10px;
    height: 10px;
}

.fa-plus-circle{
font-size: 70px;
color: #2EBAEE;
}

.addItemBtnWrapper{
position: fixed;
bottom: 30px;
right: 20px; 
z-index: 99;
border: 0;
border-radius: 35px;
}

.projectEditBtn{
    padding-left: 10px;
    border: none;
    background:none;
    width: 15px;
    height: 15px;
}

.fa-edit{
    color: #46529D;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.fa-edit:hover{
    color: #2EBAEE;
}

.fa-bars{
    padding-left: 10px;
    font-size: 35px;
    color: #46529D;
}

.fa-bars:hover{
    color: #2EBAEE;
}

.modalOverlay{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modalContent{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 300px;
    border-radius: 10px;
}

.taskFormTitleWrapper{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}

.taskFormDescWrapper{
    display: flex;
    flex-direction: column;
}

.taskFormDateWrapper{
    display: flex;
    flex-direction: column;
}

.taskFormPrWrapper{
    display: flex;
    flex-direction: column;
}

.taskforPrChoiceWrapper{
    display: flex;
    flex-direction: column;
}

.submitBtn{
    margin-top: 20px;
}